# Node modules
node_modules

# Keep environment variables out of version control
.env

# Prisma
/generated/prisma
prisma/dev.db
prisma/migrations/

# Next.js
.next
out

# Logs
*.log
npm-debug.log*

# Editor configs (opcional, mas recomendado)
.vscode/
.idea/

# Sistema
.DS_Store
