# Database
DATABASE_URL="postgresql://username:password@localhost:5432/juston_db"

# Email Configuration
EMAIL_USER="seu-email@gmail.com"
EMAIL_PASS="sua-senha-de-app"
ADMIN_EMAIL="admin@juston.com"

# Next.js
NEXTAUTH_SECRET="seu-secret-aqui"
NEXTAUTH_URL="http://localhost:3000" 